# Для git
# Автоматически обрабатывать окончания строк (нормализация к LF) для файлов, которые определяются в виде текста,
# А все файлы, которые распознаны как двоичные, оставлять без изменений
* text=auto